.landingImages {
  max-width: 80%;
}
.landingImages2 {
  max-width: 40%;
  margin-left: 25%;
}
.landingImages3 {
  max-width: 80%;
  /* margin-left: 25%; */
}
.landingImages4 {
  max-width: 100%;
}
.landingImages5 {
  max-width: 60%;
  margin-left: 25%;
}
.landingImages6 {
  max-width: 60%;
  margin-left: 25%;
}
